<section>
    <div id="titulo">
  
        <link href="../presentacion/presentacion.component.css" rel="stylesheet"rel="noopener">
    
        <p id="a"><a id="b">HORIZON</a></p>
    

    
    </div>
</section>

<!-- Start Banner Hero -->
<section class="bg-light w-100">
    <div class="container">
        <div class="row d-flex align-items-center py-5">
            <div class="col-lg-6 text-start">
                <h1 class="h2 py-5 text-primary typo-space-line">Quiénes somos</h1>
                <p class="light-300">
                    Somos un equipo que nace como respuesta a la necesidad actual de gestionar la propiedad horizontal, agilizando tareas
                     y actividades tanto de residentes como propietatios entorno a su comunidad, facilitando la interacción entre
                    los miembros.  <br> Creando un entorno web con servicios tradicionales de adminitración y a su vez herramientas innovadoras.
                </p>
            </div>
            <div class="col-lg-6">
                <img src="./assets/img/banner-img-02.svg" alt="nuestro equipo">
            </div>
        </div>
    </div>
</section>
<!-- End Banner Hero -->

<!-- Start Team Member -->
<section class="container py-5">
    <div class="pt-5 pb-3 d-lg-flex align-items-center gx-5">

        <div class="col-lg-3">
            <h2 class="h2 py-5 typo-space-line">Nuestro equipo</h2>
            <p class="text-muted light-300">
                El  equipo de desarrollo <strong>HORIZON</strong> actualmente se encuentra con los mejores profesionales
                a disposición, uniendo los conocimientos esenciales de desarrollo, propiedad horizontal y talento humano.
            </p>
        </div>
        <br>
        <br>

        <div class="col-lg-9 row">
            <div class="team-member col-md-3">
                <img class="team-member-img img-fluid rounded-circle p-4" src="./assets/img/JUAN.jpeg" alt="Card image">
                <ul class="team-member-caption list-unstyled text-center pt-4 text-muted light-300">
                    <li>Juan Acosta</li>
                    <li>Development Full Stack</li>
                </ul>
            </div>
            <div class="team-member col-md-3">
                <img class="team-member-img img-fluid rounded-circle p-4" src="./assets/img/sarai.jpg" alt="Card image">
                <ul class="team-member-caption list-unstyled text-center pt-4 text-muted light-300">
                    <li>Sarai Menco</li>
                    <li>Development Full Stack</li>
                </ul>
            </div>
            <div class="team-member col-md-3">
                <img class="team-member-img img-fluid rounded-circle p-4" src="./assets/img/team-03.jpg" alt="Card image">
                <ul class="team-member-caption list-unstyled text-center pt-4 text-muted light-300">
                    <li>Frank González</li>
                    <li>Developer Full Stack</li>
                </ul>
            </div>
            <div class="team-member col-md-3">
                <img class="team-member-img img-fluid rounded-circle p-4" src="./assets/img/team-04.jpg" alt="Card image">
                <ul class="team-member-caption list-unstyled text-center pt-4 text-muted light-300">
                    <li>Ivan Andres Trujillo Gutiérrez</li>
                    <li>Developer Full Stack</li>
                </ul>
            </div>
        </div>


    </div>
    <!-- Start Choice -->
<section class="why-us banner-bg bg-light">
    <div class="container my-2">
        <div class="row">
            <div class="banner-img col-lg-5">
                <img src="./assets/img/work.svg" class="rounded img-fluid" alt="">
            </div>
            <div class="banner-content col-lg-7 align-self-end">
                <h2 class="h2 pb-3">¿Por qué escogernos?</h2>
                <p class="text-muted pb-5 light-300">
                    Garantizamos un entorno donde encontrarás tanto los servicios tradicionales de administración, así como 
                    funcionalidades innovadoras para agilizar tu trabajo, un sistema adaptado a las necesidades 
                    de tu condominio,
                    creando una comunidad especialmente para ti y los tuyos. <br>
                    <strong>Horizon</strong> está diseñado para brindarte experiencias únicas llenas de bienestar con un excelente
                    equipo siempre dispuesto para ti. ¡No esperes más para el cambio!</p>
            </div>
        </div>
    </div>
</section>
<!-- End Choice -->
<!-- Start Aim -->
<section class="banner-bg bg-white py-5">
    <div class="container my-2">
        <div class="row text-center">

            <div class="objective col-lg-3">
                <div class="objective-icon card m-auto py-4 mb-2 mb-sm-4 bg-secondary shadow-lg">
                    <i class="display-4 bx bxs-bulb text-light"></i>
                </div>
                <h2 class="objective-heading h3 mb-2 mb-sm-4 light-300">Nuestra Visión</h2>
                <p class="light-300">
                    Buscamos ser una empresa referente encaminada a crear tecnologías inclusivas y accesibles a todos y 
                    todas, con un estándar de responsabilidad social empresarial. Desempeñando nuestras funciones de 
                    forma ética y satisfactoria para nosotros, nuestros clientes y el resto de la sociedad.
                </p>
            </div>

            <div class="objective col-lg-4 mt-sm-0 mt-4">
                <div class="objective-icon card m-auto py-4 mb-2 mb-sm-4 bg-secondary shadow-lg">
                    <i class='display-4 bx bx-revision text-light'></i>
                </div>
                <h2 class="objective-heading h3 mb-2 mb-sm-4 light-300">Nuestra Misión</h2>
                <p class="light-300">
                    Gestionar tecnologías que brinden respuestas a las necesidades del medio administrativo 
                    de conjuntos residenciales, con soluciones eficaces y sencillas al alcance de todos. 
                </p>
            </div>

            <div class="objective col-lg-4 mt-sm-0 mt-4">
                <div class="objective-icon card m-auto py-4 mb-2 mb-sm-4 bg-secondary shadow-lg">
                    <i class="display-4 bx bxs-select-multiple text-light"></i>
                </div>
                <h2 class="objective-heading h3 mb-2 mb-sm-4 light-300">Nuestra Meta</h2>
                <p class="light-300">
                    Ser reconocidos y posicionarnos como una de las mejores herramientas digitales para administrar propiedad
                    horizontal, con herramientas de vanguardia.
                </p>
            </div>

        </div>
    </div>
</section>
<!-- End Aim -->

<section>
    <div id="presentacion" class="float-rigth">
        <iframe src="./assets/fonts/HORIZON.pdf" width="1000px" height="600px" frameborder="0">Esto es un documento de <a target="_blank" href="https://office.com">Microsoft Office</a> incrustado con tecnología de <a target="_blank" href="https://office.com/webapps">Office</a>.</iframe>
    </div>

</section>


    <br>
    <br>
    <div class="float-right">
        <button type="button" class="btn btn-primary" routerLink="/home">IR AL HOME</button>
    </div>
</section>
<!-- End Team Member -->