<nav id="main_nav" class="navbar navbar-expand-lg navbar-light bg-white shadow">
    <div class="container d-flex justify-content-between align-items-center">
        <a class="navbar-brand h1" href="home">
            <i class='bx bx-buildings bx-sm text-dark'></i>
            <span class="text-dark h4"></span> <span class="text-primary h4">HORIZON</span>
        </a>
        <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-toggler-success" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        
        
    </div>
    
    
</nav>

 <!-- Documentos -->

    <div id="documentacion" class="">
        <div class="jumbotron jumbotron-fluid">
          <div class="container">
            <h1 class="display-4" class="col-12 col-xl-8 h2 text-left text-primary pt-3"><strong>Bienvenid@s</strong></h1>
            <p class="lead">En esta sección, usted encontrará la documentación necesaria para sus actividades en el conjunto residencial.
            </p>  
    </div>



<!-- Visualizador pdf -->

<div id="documentacion" class="">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
<h1 class="display-4" class="col-12 col-xl-8 h2 text-left text-primary pt-10"><strong>Visualizador de documentos</strong></h1>
</div>
</div>
   

        <div class="container">
            <div class="row">
              <div class="col-sm">
                <div class="container">
                    <div class=" col-sm card text-white bg-secondary mb-3" style="max-width: 18rem;">
                        <div class="card-header">Bienvenida</div>
                        <div class="card-body">
                          <h5 class="card-title">Secondary card title</h5>
                          <p class="card-text"><iframe src="https://docs.google.com/viewer?srcid=1Gp2CFAyGQIs-fFGP77sBhmPRxcJ5eJ9V&pid=explorer&efh=false&a=v&chrome=false&embedded=true" width="100%" height="680px"></iframe></p>
                        </div>
                    </div>
                </div>
              </div>
              <div class="col-sm">
                <div class="container">
                    <div class=" col-sm card text-white bg-secondary mb-3" style="max-width: 18rem;">
                        <div class="card-header">Circulares</div>
                        <div class="card-body">
                          <h5 class="card-title">Secondary card title</h5>
                          <p class="card-text"><iframe src="https://docs.google.com/viewer?srcid=11aZpxsPSAGzJaZAJKwoYpS-MCrSW5F7J&pid=explorer&efh=false&a=v&chrome=false&embedded=true" width="100%" height="680px"></iframe></p>
                        </div>
                    </div>
                </div>
              </div>
              <div class="col-sm">
                <div class="container">
                    <div class=" col-sm card text-white bg-secondary mb-3" style="max-width: 18rem;">
                        <div class="card-header">Circulares</div>
                        <div class="card-body">
                          <h5 class="card-title">Secondary card title</h5>
                          <p class="card-text"><iframe src="https://docs.google.com/viewer?srcid=1OgCDcvQhyVVOcpj5EWFIUkDmnspNmO7r&pid=explorer&efh=false&a=v&chrome=false&embedded=true" width="100%" height="680px"></iframe></p>
                        </div>
                    </div>
                </div>
              </div>
            </div>
          </div>

          <div class="container">
            <div class="row">
              <div class="col-sm">
                <div class="container">
                    <div class=" col-sm card text-white bg-secondary mb-3" style="max-width: 18rem;">
                        <div class="card-header">Bienvenida</div>
                        <div class="card-body">
                          <h5 class="card-title">Secondary card title</h5>
                          <p class="card-text"><iframe src="https://docs.google.com/viewer?srcid=1A3Xy0Vx_Qm_kKDO3c3fT_wnynPTnSiQw&pid=explorer&efh=false&a=v&chrome=false&embedded=true" width="100%" height="680px"></iframe></p>
                        </div>
                    </div>
                </div>
              </div>
              <div class="col-sm">
                <div class="container">
                    <div class=" col-sm card text-white bg-secondary mb-3" style="max-width: 18rem;">
                        <div class="card-header">Circulares</div>
                        <div class="card-body">
                          <h5 class="card-title">Secondary card title</h5>
                          <p class="card-text"><iframe src="https://docs.google.com/viewer?srcid=1maU99DjzFZ33j73wb1gsO5hvB5Z7HyKU&pid=explorer&efh=false&a=v&chrome=false&embedded=true" width="100%" height="680px"></iframe></p>
                        </div>
                    </div>
                </div>
              </div>
              <div class="col-sm">
                <div class="container">
                    <div class=" col-sm card text-white bg-secondary mb-3" style="max-width: 18rem;">
                        <div class="card-header">Circulares</div>
                        <div class="card-body">
                          <h5 class="card-title">Secondary card title</h5>
                          <p class="card-text"><iframe src="https://docs.google.com/viewer?srcid=1TOLNOFN_SfkKPm2yCCoZDAhs7Ce5zTLF&pid=explorer&efh=false&a=v&chrome=false&embedded=true" width="100%" height="680px"></iframe></p>
                        </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
        
        


        <span class="border border-primary"></span>