<!--COMPONENTE DE NOSOTROS / INFO DE HORIZON-->


<div id="nosotros" class="">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4" class="col-12 col-xl-8 h2 text-left text-primary pt-3"><strong>HORIZON</strong></h1>
      <p class="lead">HORIZON nace como respuesta a la necesidad actual de gestionar la propiedad horizontal, agilizando tareas y actividades
        tanto de residentes como propietatios entorno a su comunidad, facilitando la interacción entre los miembros. 
      </p>   
      <div class="card-group">
        <div id="mision" class="card">
          <div class="card-body">
            <h5 class="card-title"> <br> <br> Misión</h5>
            <p class="card-text"> Gestionar tecnologías que brinden respuestas a las necesidades del medio 
              administrativo de conjuntos residenciales, con soluciones eficaces y sencillas al alcance de todos. <br><br>
            </p>
          </div>
        </div>
        <div id="vision" class="card">
          <div class="card-body">
            <h5 class="card-title"><br> <br> Visión</h5>
            <p class="card-text">Buscamos ser una empresa referente encaminada a crear tecnologías inclusivas y accesibles a todos y 
              todas, con un estándar de responsabilidad social empresarial. Desempeñando nuestras funciones de 
              forma ética y satisfactoria para nosotros, nuestros clientes y el resto de la sociedad. <br><br>
            </p>
          </div>
        </div>
        
      </div>
      
    </div>
  </div>
</div> 