<div id="registro-usuarios">

  <div>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Lista de usuarios</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Agregar Usuario</a>
      </li>
      
    </ul>
  
  
  </div>
  
  
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
      <!-- TAB IZQUIERDO LISTADO DE USUARIOS -->
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">primer Nombre</th>
            <th scope="col">segundo Nombre</th>
            <th scope="col">Primer Apellido</th>
            <th scope="col">Segundo Apellido</th>
            <th scope="col">Email</th>
            <th scope="col">Eliminar</th>

          </tr>
        </thead>
        <tbody>
        
          <tr *ngFor ="let item of datos; let i = index">
            <th scope="row">{{i+1}}</th>
            <td>{{item.fname}}</td>
            <td>{{item.mname}}</td>
            <td>{{item.lname}}</td>
            <td>{{item.slname}}</td>
            <td>{{item.email}}</td>
            <td><button type="button" class="btn btn-danger" (click)="Eliminar(item.email)">Eliminar</button>
            </td>
            
          </tr>
          <tr>
           
        </tbody>
      </table>



   
    </div>
     
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
      <!-- TAB DERECHO REGISTRO DE USUARIOS -->
      <div id="formulario-registro">

        <div>
          <h3>Información Personal</h3>

        <div class="row">
          <div class="col-6 col-sm-6">
            <label for="fname" class="col-sm-6 col-form-label">Primer Nombre</label>
            <input type="text" class="form-control" id="fname" [(ngModel)]="fname">
            {{errornombre}}
          </div>
          <div class="col-6 col-sm-6">
            <label for="fname" class="col-sm-6 col-form-label">Segundo Nombre</label>
            <input type="text" class="form-control" id="mname" [(ngModel)]="mname">
          </div>
        </div>

        <div class="row">
          <div class="col-6 col-sm-6">
            <label for="fname" class="col-sm-6 col-form-label">Primer Apellido</label>
            <input type="text" class="form-control" id="lname" [(ngModel)]="lname">
          </div>
          <div class="col-6 col-sm-6">
            <label for="fname" class="col-sm-6 col-form-label">Segundo Apellido</label>
            <input type="text" class="form-control" id="slname" [(ngModel)]="slname">
          </div>
        </div>

        <div class="row">
          <div class="col-6 col-sm-6">
            <label for="fname" class="col-sm-6 col-form-label">Email</label>
            <input type="email" class="form-control" id="email" [(ngModel)]="email">
            {{erroremail}}
          </div>
          <div class="col-6 col-sm-6">
            <label for="fname" class="col-sm-6 col-form-label">Teléfono</label>
            <input type="tel" class="form-control" id="phone" [(ngModel)]="phone">
          </div>
        </div>

        </div>

        <div>
          <h3>Información de la unidad residencial</h3>

        <div class="row">
          <div class="col-6 col-sm-6">
            <label for="fname" class="col-sm-6 col-form-label">Unidad</label>
            <input type="text" class="form-control" id="unitname" [(ngModel)]="unitname">
          </div>
          <div class="col-6 col-sm-6">
            <label for="fname" class="col-sm-6 col-form-label">Complemento</label>
            <input type="text" class="form-control" id="complement" [(ngModel)]="complement">
          </div>
        </div>

        <div class="row">
          <div class="col-6 col-sm-6">
            <label for="fname" class="col-sm-6 col-form-label">Categoría</label>
            <input type="text" class="form-control" id="unitcategory" [(ngModel)]="unitcategory">
          </div>
          <div class="col-6 col-sm-6">
            <label for="fname" class="col-sm-6 col-form-label">Conjunto</label>
            <input type="text" class="form-control" id="buildingname" [(ngModel)]="buildingname">
          </div>
        </div>
        </div>

        <div>

          <h3>Password</h3>

          <div class="row">
            <div class="col-6 col-sm-6">
              <label for="fname" class="col-sm-6 col-form-label">Password</label>
              <input type="password" class="form-control" id="password" [(ngModel)]="password">           
            </div>
            <div class="col-6 col-sm-6">
              <label for="fname" class="col-sm-6 col-form-label">Confirmar Password</label>
              <input type="password" class="form-control" id="confirmar" [(ngModel)]="confirmar">
            </div>
          </div>


        </div>
        <br>

        <div class="row">
          <div class="col-6 col-sm-6">
            <button type="submit" class="btn btn-primary" (click)="registrar()">Registrar</button>         
          </div>
          
        </div>          
       
      </div>
      
    </div>
    
  </div>
  


</div>




